@model IEnumerable<DemoSanBong.Models.FeedBack>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                KH
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commment)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
