@model IEnumerable<DemoSanBong.ViewModels.FieldViewModel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/iField.css"/>

<h1>Explore Our <span class="highlight">FIELDS</span></h1>

<div class="container">
    <p>
        <a asp-action="Create" style="margin-left: 10px">Create New</a>
    </p>
    <div class="field-grid">
        @foreach (var item in Model)
        {
            <div class="field-card">
                <div class="field-info">
                    @if(item.Type=="5 người")
                    {
                        
                        <img src="~/Images/2nd.jpg" alt="@item.Name" />
                    }
                    else if(item.Type=="7 người")
                    {
                        <img src="~/Images/3th.jpg" alt="@item.Name" />
                    }
                    else
                    {
                        <img src="~/Images/default.jpg" alt="@item.Name" />
                    }
                    <h2>Mã Sân: @Html.DisplayFor(modelItem => item.Name) </h2>
                    <p>Mô tả sân: @Html.DisplayFor(modelItem => item.Description) </p>
                    <p>Loại sân: @Html.DisplayFor(modelItem => item.Type)</p>
                    <p>Giá Giờ: @string.Format("{0:#,0} đ",item.Price) </p>
                    <p>Giá Tháng:  @string.Format("{0:#,0} đ", item.PricePerMonth) </p>
                    
                    <div class="actions">
                        <a asp-action="Booking" asp-controller="Booking" asp-route-id="@item.Id">Đặt ngay</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
