@model IEnumerable<DemoSanBong.ViewModels.FieldViewModel>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Field.css" />

<div class="container">
    <h1>Explore Our <span class="highlight">FIELDS</span></h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="room-grid">
        @foreach (var item in Model)
        {
            <div class="room-card">
                <div class="room-info">
                    <img src="@item.DefaultImage" alt="@item.Name" />
                    <h2>Mã Sân: @Html.DisplayFor(modelItem => item.Name) </h2>
                    <p>Mô tả sân: @Html.DisplayFor(modelItem => item.Description) </p>
                    <p>Loại sân: @Html.DisplayFor(modelItem => item.Type)</p>
                    <p>Giá Giờ: @Html.DisplayFor(modelItem => item.Price) </p>
                    <p>Giá Tháng:  @Html.DisplayFor(modelItem => item.PricePerMonth) </p>
                    <p>Trạng Thái: @Html.DisplayFor(modelItem => item.IsActive)</p>

                    <div class="actions">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
