@model IEnumerable<DemoSanBong.ViewModels.FieldView>

@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
    }

    .item-container {
        position: relative;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .box {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .my-div {
        color: #ffff
    }
</style>
<h1 style="text-align:center">Tình trạng sân</h1>
<a class="btn btn-primary" style="margin-top:20px;margin-left:50px" asp-action="Status">Refresh</a>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 col-md-3 col-lg-3 item-container" style="padding: 20px">
                <div class="image-container card">
                    <img class="img-fluid" src="~/Images/FieldImages/00000000-0000-0000-0000-000000000000-3th.jpg" alt="">
                    @if (item.Status == "Đã đặt")
                    {
                        <a class=" box @item.StatusColor" style="margin:5px;" asp-action="check" asp-controller="invoice" asp-route-id="@item.Booking?.Id">
                            @item.Status
                        </a>
                    }
                    else if (item.Status == "Trống")
                    {
                        <div class=" box @item.StatusColor" style="margin:5px;">
                            @item.Status
                        </div>
                    }
                    else
                    {
                        <a class=" box @item.StatusColor" style="margin:5px;" asp-action="details" asp-controller="invoice" asp-route-id="@item.Invoice?.Id">
                            @item.Status
                        </a>
                    }
                    <div class="text-center my-div" style="background: orange">
                        <h4>@Html.DisplayFor(modelItem => item.Field.Name)</h4>
                    </div>
                </div>
            </div>

        }
    </div>
</div>