@model DemoSanBong.ViewModels.InvoiceViewModel

@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container-fluid px-5 mt-4">
    <div class="card shadow-sm border-primary">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Thông tin hóa đơn</h4>
        </div>
        <div class="card-body">
            <p class="lead mb-4">Mã số: <span class="font-weight-bold text-primary">@Model.Id</span></p>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Mã đặt sân</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Booking.Id)</dd>
                        <dt class="col-sm-4 font-weight-bold">Khách hàng</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Booking.Customer.FullName)</dd>
                        <dt class="col-sm-4 font-weight-bold">Số điện thoại</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Booking.Customer.PhoneNumber)</dd>
                        <dt class="col-sm-4 font-weight-bold">Ngày tạo</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CreateDate)</dd>
                        <dt class="col-sm-4 font-weight-bold">Thời gian nhận</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CheckinDate)</dd>
                        <dt class="col-sm-4 font-weight-bold">Thời gian trả</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CheckoutDate)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Tổng thanh toán</dt>
                        <dd class="col-sm-8">@string.Format("{0:#,0} đ", Model.Amount)</dd>
                        <dt class="col-sm-4 font-weight-bold">Đã đặt cọc</dt>
                        <dd class="col-sm-8">@string.Format("{0:#,0} đ", Model.Booking.Deposit)</dd>
                        <dt class="col-sm-4 font-weight-bold">Còn lại</dt>
                        <dd class="col-sm-8">@string.Format("{0:#,0} đ", Model.Final)</dd>
                        <dt class="col-sm-4 font-weight-bold">Hình thức thanh toán</dt>
                        <dd class="col-sm-8">
                            <div class="form-check">
                                <input type="radio" name="PaymentMethod" value="0" id="paymentCash" checked class="form-check-input">
                                <label class="form-check-label" for="paymentCash">Tiền mặt</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="PaymentMethod" value="1" id="paymentVnPay" class="form-check-input">
                                <label class="form-check-label" for="paymentVnPay">VnPay</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="PaymentMethod" value="2" id="paymentMomo" class="form-check-input">
                                <label class="form-check-label" for="paymentMomo">Momo</label>
                            </div>
                        </dd>
                        <dt class="col-sm-4 font-weight-bold">Trạng thái hóa đơn</dt>
                        <dd class="col-sm-8">
                            <span class="badge Trạng thái hóa đơn">@Model.Status</span>
                        </dd>
                        <dt class="col-sm-4 font-weight-bold">Nhân viên</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Cashier.FullName)</dd>
                        <dt class="col-sm-4 font-weight-bold">Ghi chú</dt>
                        <dd class="col-sm-8">
                            <input name="Note" id="Note" placeholder="Nhập ghi chú..." class="form-control">
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="mt-4">
                <a class="btn btn-danger" asp-action="Details" asp-route-id="@Model.Id">Hoãn thanh toán</a>
                <button type="button" id="submitCheckout" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<div id="Fields" class="container-fluid px-5 mt-4">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h4 class="mb-0">Sân sử dụng</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Tên sân</th>
                        <th>Loại sân</th>
                        <th>Giá sân</th>
                        <th>Bắt đầu</th>
                        <th>Kết thúc</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double allcost = 0;
                    }
                    @foreach (var item in Model.Fields)
                    {
                        allcost +=(double) item.Cost;
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>
                                @string.Format("{0:#,0}", item.Price)
                                @if (Model.Booking.RentalType == 0)
                                {
                                    @: đ/giờ
                                }
                                else
                                {
                                    @: đ/Tháng
                                }
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Start)</td>
                            <td>@Html.DisplayFor(modelItem => item.End)</td>
                            <td>@string.Format("{0:#,0}", item.Cost)</td>
                        </tr>
                    }
                    <tr class="font-weight-bold">
                        <th colspan="5" class="text-right">Tổng cộng</th>
                        <th>@string.Format("{0:#,0}đ", allcost)</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid px-5 mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Dịch vụ đã sử dụng</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Mã dịch vụ</th>
                        <th>Tên dịch vụ</th>
                        <th>Loại dịch vụ</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        double total = 0;
                    }
                    @foreach (var item in Model.Order)
                    {
                        total += item.InvoiceService.Quantity * item.Price;
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceService.Service.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceService.Service.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceService.Service.Type)</td>
                            <td>@string.Format("{0:#,0}đ", item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.InvoiceService.Quantity)</td>
                            <td>@string.Format("{0:#,0}đ", item.Price * item.InvoiceService.Quantity)</td>
                        </tr>
                    }
                    <tr class="font-weight-bold">
                        <th colspan="5" class="text-right">Tổng cộng</th>
                        <th>@string.Format("{0:#,0}đ", total)</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submitCheckout').on('click', function () {
                console.log('error')
                var id = '@Model.Id';
                var note = $('#Note').val();
                var paymentMethod = $('input[name="PaymentMethod"]:checked').val();

                $.ajax({
                    url: '@Url.Action("Checkout", "Invoice")',
                    type: 'POST',
                    data: {
                        id: id,
                        pm: paymentMethod,
                        note: note
                    },
                    success: function (result) {
                        window.location.href = result.redirectUrl;
                    },
                    error: function (error) {
                        console.error('Error during checkout:', error);
                    }
                });
            });
        });
    </script>

