@model IEnumerable<DemoSanBong.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class=" table table-hover">
    <thead>
        <tr>
            <th>
                Mã đặt sân
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                SĐT
            </th>
            <th>
                Hình thức thuê
            </th>
            <th>
                Bắt đầu
            </th>
            <th>
                Kết thúc
            </th>
            <th>
                Đã đặt cọc
            </th>
            <th>
                Trạng thái
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckoutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    <p class="@item.TextColor">@item.State</p>
                </td>
                    <td>
                        <a class="btn btn-info" asp-action="Check" asp-route-id="@item.Id">Kiểm tra</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
