@model IEnumerable<DemoSanBong.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/css/Invoice.css"/>

<div class="container">
    <h1>Danh sách <span class="highlight">Đặt sân</span></h1>

    <div class="invoice-grid">
        @foreach (var item in Model)
        {
            <div class="invoice-card">
                <div class="invoice-info">
                    <h2>Mã đặt sân: @Html.DisplayFor(modelItem => item.Id)</h2>
                    <p>Tên khách hàng: @Html.DisplayFor(modelItem => item.Customer.FullName)</p>
                    <p>Số điện thoại: @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)</p>
                    <p>Hình thức thuê: @Html.DisplayFor(modelItem => item.Type)</p>
                    <p>Bắt đầu: @Html.DisplayFor(modelItem => item.CheckinDate)</p>
                    <p>Kết thúc: @Html.DisplayFor(modelItem => item.CheckoutDate)</p>
                    <p>Đã đặt cọc: @Html.DisplayFor(modelItem => item.Deposit)</p>
                    <p>
                        Trạng thái: <span class="@item.TextColor">@item.State</span>
                    </p>
                    <div class="actions">                    
                        <a class="btn btn-info" asp-action="Check" asp-route-id="@item.Id">Kiểm tra</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
