@model IEnumerable<DemoSanBong.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link rel="stylesheet" href="~/css/Invoice.css"/>

<div class="container">
    <h1>Danh sách <span class="highlight">Đặt sân</span></h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã đặt sân
                </th>
                <th>
                    Tên khách hàng
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Hình thức thuê
                </th>
                <th>
                    Ngày đặt
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.PhoneNumber)                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @item.State
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Check" asp-route-id="@item.Id">Kiểm tra</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
