@model IEnumerable<DemoSanBong.Models.FeedBack>
@{
    ViewData["Title"] = "Home Page";    
    var fb = ViewData["feedback"] as FeedBack;
    var user = ViewData["user"] as AppUser;
    var flag = ViewBag.flag;
}
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img  style="height: 900px; width: 100%" src="~/Images/FieldImages/tienlinh.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="width: 700px; height: 300px">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Thể thao là</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Không ngừng bỏ cuộc</h1>
                        <a asp-action="index" asp-controller="field" class="btn btn-success py-md-3 px-md-5 me-3 animated slideInLeft">Menu Sân</a>
                        <a asp-action="booking" asp-controller="booking" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Đặt Ngay</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item active">
                <img  style="height: 900px; width: 100%" src="~/Images/domixi.webp" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="width: 700px; height: 300px">
                        <h6 class="section-title text-white text-uppercase mb-3 animated slideInDown">Hí anh em</h6>
                        <h1 class="display-3 text-white mb-4 animated slideInDown">Trai đẹp vô cùng tận đá banh nè!!!</h1>
                        <a asp-action="index" asp-controller="field" class="btn btn-light py-md-3 px-md-5 me-3 animated slideInLeft">Menu Sân</a>
                        <a asp-action="booking" asp-controller="booking" class="btn btn-success py-md-3 px-md-5 animated slideInRight">Đặt Ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        </div>
        @if (User.IsInRole("Customer"))
        {
            if (flag)
            {
                <button class="btn btn-warning" id="add">Đánh giá chất lượng sân</button>
                <br />
                <br />
            }
            <form style="display:none" id="fb" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card than align-center">
                    <div class="row">
                        <div class="col-2">
                            <img src="https://i.imgur.com/xELPaag.jpg" width="70" class="rounded-circle mt-2">
                        </div>
                        <div class="col-10">
                            <div class="comment-box ml-2">
                                <h4>Nói gì đó đi</h4>

                                <div class="rating">
                                    <input type="radio" name="stars" value="5" id="5" @(fb?.Stars == 5 ? "checked" : "")><label for="5">☆</label>
                                    <input type="radio" name="stars" value="4" id="4" @(fb?.Stars == 4 ? "checked" : "")><label for="4">☆</label>
                                    <input type="radio" name="stars" value="3" id="3" @(fb?.Stars == 3 ? "checked" : "")><label for="3">☆</label>
                                    <input type="radio" name="stars" value="2" id="2" @(fb?.Stars == 2 ? "checked" : "")><label for="2">☆</label>
                                    <input type="radio" name="stars" value="1" id="1" @(fb?.Stars == 1 ? "checked" : "")><label for="1">☆</label>
                                </div>

                                <div class="comment-area">
                                    <textarea name="comment" class="form-control" placeholder="what is your view?" rows="4">@fb?.Commment</textarea>
                                </div>
                                <div class="comment-btns mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="pull-left">
                                                <button type="button" id="Hủy" class="btn btn-success btn-sm">Cancel</button>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="pull-right">
                                                <input type="submit" value="Đăng" class="btn btn-warning btn-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
@*         <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Customer.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Stars)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Commment)
                    </th>
                    <th>
                        Ngày
                    </th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stars)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Commment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        @if (user != null && item.CusId == user.Id)
                        {
@*                             <td>
                                <button class="btn btn-info btn-sm" id="edit">Edit</button>
                            </td>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a class="btn btn-danger btn-sm" asp-action="Hidefeedback" asp-route-id="@item.CusId">Ẩn</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table> *@

        @foreach (var item in Model)
        {
            <div class="container mt-5" style="border:1px solid black; border-radius:5px;">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-12">
                        <div class="d-flex flex-column comment-section">
                            <div class="bg-white p-2">
                                <div class="d-flex flex-row user-info">
                                    <img style="margin-right:15px" class="rounded-circle" src="https://i.imgur.com/xELPaag.jpg" width="80">
                                    <div class="d-flex flex-column justify-content-start ml-2">
                                        <b style="font-size:larger" class="text-dark d-block font-weight-bold name">@Html.DisplayFor(modelItem => item.Customer.FullName)</b><span class="date text-black-50">Ngày đăng: @item.CreateDate.ToString("dd/MM/yyyy")</span>
                                      
                                        <div>
                                            @for (int i = 1; i <= item.Stars; i++)
                                            {
                                                <i class="fas fa-star star-yellow"></i>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2" style="padding-left: 95px">
                                    <p class="comment-text">@Html.DisplayFor(modelItem => item.Commment)</p>
                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="d-flex flex-row fs-12">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-danger btn-sm" asp-action="Hidefeedback" asp-route-id="@item.CusId">Ẩn</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <style>
            body {
                background: #eee
            }

            .date {
                font-size: 22px
            }

            .comment-text {
                font-size: 24px
            }

            .fs-12 {
                font-size: 24px
            }

            .shadow-none {
                box-shadow: none
            }

            .name {
                color: #007bff
            }

            .cursor:hover {
                color: blue
            }

            .cursor {
                cursor: pointer
            }

            .textarea {
                resize: none
            }

            .star-yellow {
                color: gold;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#add, #edit').click(function () {
                    $('#fb').show();
                });

                $('#cancel').click(function () {
                    $('#fb').hide();
                });
            });
        </script>
    </div>
</div>