@model IEnumerable<DemoSanBong.ViewModels.EditServiceViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link  rel="stylesheet" href="~/css/iService.css" />

<div class="container">
    <h1>Explore Our <span class="highlight">SERVICES</span></h1>

    <p>
        <a asp-action="Create" style="margin-left: 10px">Create New</a>
    </p>

    <div class="service-grid">
        @foreach (var item in Model)
        {
            <div class="service-card">
                <div class="service-info">
                    <h2>Tên dịch vụ: @Html.DisplayFor(modelItem => item.Name)</h2>
                    <p>Loại dịch vụ: @Html.DisplayFor(modelItem => item.Type)</p>
                    <p>Đơn vị: @Html.DisplayFor(modelItem => item.Unit)</p>
                    <p>Đơn giá: @Html.DisplayFor(modelItem => item.Price)</p>
                    <p>Số lượng: @Html.DisplayFor(modelItem => item.Quantity)</p>
                    <p>Ngày tạo: @Html.DisplayFor(modelItem => item.CreateDate)</p>
                    <p>Đường dẫn ảnh: <a href="@Html.DisplayFor(modelItem => item.ImagePath)" target="_blank">Xem ảnh</a></p>

                    <div class="actions">
                        <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
