@model IEnumerable<DemoSanBong.ViewModels.FieldViewModel>
@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerMonth)
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerMonth)
                </td>
                <td>
                    <button class="addRoomButton btn btn-success" data-room-id="@item.Id">Add</button>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Room" target="_blank" asp-route-id="@item.Id">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <div class="room-item shadow rounded overflow-hidden">

                        <div class="position-relative">
                            <img class="img-fluid" src="~/Images/3th.jpg" alt="">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">@string.Format("{0:#,0}đ",item.Price)</small>                        
                        </div>

                        <div class="p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <div class="ps-2">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        <small class="fa fa-star text-primary"></small>
                                    }
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3"><i class="fa fa-user text-primary me-2"></i>5 People</small>
                                <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                            </div>
                            <p class="text-body mb-3">@Html.DisplayFor(modelItem => item.Description)</p>
                            <div class="d-flex justify-content-between">
                                <a asp-action="Details" asp-controller="Room" target="_blank" asp-route-id="@item.Id">Chi tiết</a>
                                <button class="addRoomButton btn btn-success" data-room-id="@item.Id">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>