@model DemoSanBong.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Check";
    Layout = "~/Views/Shared/_layout.cshtml";
    string masage = ViewBag.Message;
}
<style>
    .card1 {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
    }
</style>

@if (!string.IsNullOrEmpty(masage))
{
    if (masage == "Hủy thành công")
    {
        <div id="statusAlert" class="alert alert-success alert-dismissible fade show text-center" role="alert">
            @masage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        <div id="statusAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
            @masage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
<div class="container-fluid px-5 mt-4" style="width:100%">
    <div class="card1 shadow-sm border-primary">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">Thông tin đặt sân</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-6 font-weight-bold">
                            Mã đặt sân
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-6 font-weight-bold">
                            @Html.DisplayNameFor(model => model.RentalType)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                        <dt class="col-sm-6 font-weight-bold">
                            @Html.DisplayNameFor(model => model.CheckinDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.CheckinDate)
                        </dd>
                        <dt class="col-sm-6 font-weight-bold">
                            @Html.DisplayNameFor(model => model.CheckoutDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.CheckoutDate)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-6 font-weight-bold">
                            @Html.DisplayNameFor(model => model.Deposit)
                        </dt>
                        <dd class="col-sm-6">
                            @string.Format("{0:#,0} đ", Model.Deposit)
                        </dd>
                        <dt class="col-sm-6 font-weight-bold">
                            Trạng thái
                        </dt>
                        <dd class="col-sm-6">
                            <span class="@Model.TextColor font-weight-bold">@Model.State</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Fields" class="container-fluid px-5 mt-4">
    <div class="card1 shadow-sm border-primary">
        <div class="card-header bg-success text-white">
            <h5 class="mb-0">Sân đã đặt</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead class="bg-light text-primary">
                    <tr>
                        <th>Tên sân</th>
                        <th>Loại sân</th>
                        <th>Giá đặt sân</th>
                        <th>Bắt đầu</th>
                        <th>Kết thúc</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SelectedFields.SelectedFields)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>
                                @string.Format("{0:#,0}", item.Price)
                                @if (Model.RentalType == 0)
                                {
                                    @: đ/giờ
                                }
                                else
                                {
                                    @: đ/Tháng
                                }
                            </td>
                            <td>@item.Start</td>
                            <td>@item.End</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@if (Model.Status == 1 || Model.Status == 2)
{
    <a style="margin-left:500px;margin-top:20px;margin-bottom:20px" class="btn btn-danger" asp-action="Cancel" asp-controller="booking" asp-route-id="@Model.Id">Hủy đặt sân!</a>
}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        setTimeout(function () {
            var alertElement = document.getElementById('statusAlert');
            if (alertElement) {
                alertElement.classList.remove('show');
                alertElement.classList.add('fade');
                setTimeout(() => {
                    alertElement.remove();
                }, 150);
            }
        }, 5000);
    });
</script>
