@model IEnumerable<DemoSanBong.Models.Booking>

@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Lịch sử đặt sân</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Mã đặt sân
            </th>
            <th>
                Ngày đặt
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckinDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckoutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @{
                        if (item.Status == 2 || item.Status == 1)
                        {
                            @:Chưa nhận
                        }
                        if (item.Status == 3)
                        {
                            @:Đã Hủy
                        }
                        if (item.Status == 4)
                        {
                            @:Đã nhận
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
