@model DemoSanBong.ViewModels.SelectedFieldsViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                Tên sân
            </th>
            <th>
                Giá
            </th>
            <th>
                Bắt đầu
            </th>
            <th>
                Kết thúc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SelectedFields)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (Model.RentalType == 0)
                {
                    <td>
                        @string.Format("{0:#,0} đ", item.Price)
                    </td>
                }
                else
                {

                    <td>
                        @string.Format("{0:#,0} đ", item.PricePerMonth)
                    </td>
                }
                <td>
                    @item.Start
                </td>
                <td>
                    @item.End
                </td>
                <td>
                    <button class="removeRoomButton btn btn-danger" data-room-id="@item.Id">X</button>
                </td>
            </tr>
        }
    </tbody>
    <p>Thành tiền: @string.Format("{0:#,0}đ", Model.Amount)</p>
    <p>Đặt cọc: @string.Format("{0:#,0}đ", Model.Deposit)</p>
</table>