@model DemoSanBong.ViewModels.SelectedFieldsViewModel
@{
    double amount = 0;
    double deposit = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sân
            </th>
            <th>
                Giá
            </th>
            <th>
                Giá thuê tháng
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SelectedFields)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerMonth)
                </td>
                <td>
                    <button class="removeRoomButton btn btn-danger" data-room-id="@item.Id">Hủy</button>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Room" target="_blank" asp-route-id="@item.Id">Chi tiết</a>
                </td>
            </tr>
            @if (Model.RentalType == 0)
            {
                amount += item.Price;
            }
            else
            {
                amount += item.PricePerMonth;
            }
        }
    </tbody>
    <p>Thành tiền: @amount</p>
    <p>Đặt cọc: @(amount * 0.2)</p>
</table>